@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
body {
  background-color: aquamarine;
}
h1 {
  text-align: center;
  font-family: 'Supermercado One', cursive;
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-size: 44px;
}

.set {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
}
.set button {
  padding-top: 55px;
  margin-top: 150px;
  height: 180px;
  width: 180px;
  font-size: 24px;
  color: white;
  border: 2px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
  position: relative;
  font-family: 'Rowdies', cursive;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.set button::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
  z-index: 0;
}

span {
  position: relative;
  color: white;
  z-index: 5;
}

.w {
  background-image: url('img/3.jfif');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.a {
  background-image: url('img/4.jfif');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.s {
  background-image: url('img/5.jfif');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.d {
  background-image: url('img/6.jfif');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.j {
  background-image: url('img/7.jfif');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.k {
  background-image: url('img/2.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.l {
  background-image: url('img/1.jpg');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}